/*******************************
Webサイト全体の指定
*******************************/
html {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 1.5;
  scroll-behavior: smooth;
  height:auto;
}

img {
  max-width: 100%;
  display: block;
}
body{margin: 0;
height:auto;
display: flex;
flex-direction: column;
}
/* ここから記述します。 */

/*--.header--*/
.header{display: flex;
align-items: center;
justify-content:space-between;
padding: 0 215px;
margin: 20px;
position: fixed;
width: 100%;}


/*--.nav ul--*/
.nav ul{
    display:flex;
    justify-content:space-between;
    gap:30px;
    
     font-family: "Noto Serif JP";
color:#83776a;
font-weight:bold;
font-style:inherit;}

/*--.firsyview--*/
.firstview{display: flex;
justify-content: flex-end;
padding:50px;
margin-left: -170px;
width:100%;
margin-bottom: 0;
height:auto;
}

.firstview-title{display:flex;
  color:#83776a;
margin-left: 230px;
position: relative;
top:-70%;
right:100px;
bottom:10px;
border:1px solid #83776a;
width:320px;
height:300px;
text-align: center;
padding-top: 120px;
padding-left: 50px;
font-size:35px;
 font-family: "Noto Serif JP";
font-weight:bold;
background-color: rgba(255, 255, 255, 0.8);}

.concept-img{margin:0 auto;
margin-left: 260px;
margin-top: -200px;}

.Concept{position: relative;
left:800px;
bottom: 500px;
}

.Concept-text{font-size:30px;
  font-weight: bold;
  font-family: "Noto Serif JP";
color: #83776a;
position:relative;}


.C{color: #83776a;
margin-left: 20px;
margin-bottom:60px;}

.Read-More1{position: relative;
top:50px;
left:10px;

border: 1px solid #83776a;
width:180px;
padding-top:15px;
padding-bottom: 15px;
padding-left: 40px;
color: #83776a;
}
.Read-More1:hover{color:black;
background-color:yellow;
opacity:0.3;}

.Menu{
margin-top:70px;
 font-family: "Noto Serif JP";
background-color: #f9f5ed;
width:max;
height:100%;
color:#83776a;}

.Menu-text{position: relative;
left:260px;
top:50px;
font-weight: bold;
font-size:30px;}
.M{position: relative;
left:260px;
top:50px;}

.item1{position:relative;
left:260px;
top: 100px;
width:350px;
height:350px;}
.item2{position:relative;
left:260px;
top: 150px;
width:350px;
height:350px;}
.item3{position:relative;
left:260px;
top: 190px;
width:350px;
height:350px;}



.list{display: flex;
gap:40px;
width:350px;
height:350px;}


 
.menu-title1,.menu-price1{display: flex;
  flex-direction: column;
  position: relative;
top:10px;
left:260px;
font-weight:bold;}
.menu-title1,.menu-title2,.menu-title3{color:#333;
font-family: "Noto Sans JP", sans-serif;}
.menu-title2,.menu-price2{display: flex;
  flex-direction: column;
  position: relative;
top:10px;
left:640px;
font-weight:bold;}
.menu-title3,.menu-price3{display: flex;
  flex-direction: column;
  position: relative;
top:10px;
left:1020px;
font-weight:bold;}

.title{position: relative;
top:100px;}

.Read-More2{list-style:none;
position: relative;
left:710px;
top:150px;
border: 1px solid #83776a;
width:180px;
padding-top:15px;
padding-bottom: 15px;
padding-left: 40px;
color: #83776a;
font-family: "Noto Sans JP", sans-serif;
}
.Read-More2:hover{color:black;
background-color:yellow;
opacity:0.3;}

.fixedBg{height: 500px;
  background-image: url(css/img/fixed_bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .fixedBg {
    height: 350px;
    background-attachment: scroll;
    background-size: cover;
  }
}

.shop-title,.imformation{position: relative;
left:300px;
top:50px;
 font-family: "Noto Serif JP";
font-size:30px;
color:#83776a;
font-weight: bold;}
.imformation{font-size: 15px;
}

.imformation1{margin-top:40px;}
.shop-name{
font-size:20px;
font-weight: bold;
position: relative;
left:300px;
top:60px;
font-family: "Noto Serif JP";
color: #83776a;}

.imformation2{display: flex;
position:relative;
left:250px;
top:100px;
}
.imformation3{display: flex;
position:relative;
left:250px;
top:100px;}
.imformation4{display: flex;
position:relative;
left:250px;
top:100px;}
.imformation5{display: flex;
position:relative;
left:250px;
top:100px;}
.imformation6{display:flex;
  row-gap:  30px;
flex-direction: column;
position: relative;
bottom:20px;}

.imformation2,.imformation3,.imformation4,.imformation5{
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
width:35%;} 

.img3{
position: relative;
left:840px;
bottom:360px;}

.u-container{margin-top: 20px;}

.footer{background-color: #f9f5ed;
display: flex;
justify-content: center;
width:100%;
height:100%;
margin-top: 0;
padding-top: 0;}

.logo2{display: flex;
flex-direction: column;
position: relative;
top:-80px;
right:100px;
color: #333;}
.footer-name{display: flex;
  text-align: center;
gap:40px;
font-family: "Noto Serif JP";
position: relative;
top:-200px;
font-weight: bold;
color: #83776a;}

.footer-logo2{position: relative;
bottom:280px;
left:140px;}

.fixedBtn {
  display: inline-block;
  position: fixed;
  bottom: 65px;
  right: 0;
  z-index: 90;}

  